<html>
<head>
<title>Clientes</title>
</head>
<body>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-primary .pre-scrollable">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-6">Listado de Clientes</div>
						<div class="col-md-6">						
							<form class="navbar-form navbar-right" role="search" action="/reparaciones/clients/1" method="POST">
								<div class="form-group">
									<input type="text" class="form-control" style="height:25px;" name="search" placeholder="Buscar" value="{{search}}">
								</div>
      							<button type="submit" class="btn btn-default btn-xs">      							
      								<span class="glyphicon glyphicon-search"></span>      							
      							</button>
    						</form>						
						</div>
					</div>			
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Numero</th>
									<th>Nombre</th>
									<th>Apellido</th>
									<th>Direccion</th>
									<th>Telefono</th>
									<th class="text-center">Editar</th>
									<th class="text-center">Eliminar</th>
								</tr>
							</thead>
							<tbody>
								{{#clients}}
								<tr>
									<td>{{id}}</td>
									<td>{{name}}</td>
									<td>{{surName}}</td>
									<td>{{adress}}</td>
									<td>{{phone}}</td>
									<td class="text-center"><a class="glyphicon glyphicon-pencil" href="#"></a></td>
									<td class="text-center">
									<a data-toggle="modal" href="#" onclick="modalElimiarCliente('{{name}}','{{surName}}', {{id}})" class="glyphicon glyphicon-trash"></a>
									
									</td>
								</tr>
								{{/clients}}
							</tbody>
						</table>
					</div>
					<!-- /.table-responsive -->
				</div>
			</div>
			<!--panel-->			
			<ul class="pagination">
				{{#pages}}
				<li {{#isPageActive}}class="active" style="pointer-events: none"{{/isPageActive}}><a href="/reparaciones/clients/{{numPage}}">{{numPage}}</a></li>
				{{/pages}}	
			</ul>
		</div>
	</div>
	<!--  Modal de eliminacion de usuario-->
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Eliminacion de cliente</h4>
        </div>
        <div class="modal-body">
        	<p class="text-center">        	
        		¿Desea eliminaran los datos del cliente <span id="S_NombreCliente">Juan</span> ?
        	</p>        	       	
        </div>
        <div class="modal-footer">
        <form name="input" action="/reparaciones/clients/remove/" method="POST">
			<input id="I_eliminarCliente" type="hidden" name="clientId" value="">			 
          	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          	<button type="submit" class="btn btn-primary">Aceptar</button>
        </form> 
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</body>
</html>