<html>
<head>
<title>Clientes</title>
</head>
<body>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-primary .pre-scrollable">
				<div class="panel-heading">Listado de clientes</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Numero</th>
									<th>Nombre</th>
									<th>Apellido</th>
									<th>Direccion</th>
									<th>Telefono</th>
									<th class="text-center">Editar</th>
									<th class="text-center">Eliminar</th>
								</tr>
							</thead>
							<tbody>
								{{#clients}}
								<tr>
									<td>{{id}}</td>
									<td><a href="#">{{name}}</a></td>
									<td><a href="#">{{surName}}</a></td>
									<td><a href="#">{{adress}}</a></td>
									<td><a href="#">{{phone}}</a></td>
									<td class="text-center"><a class="glyphicon glyphicon-pencil" href="#"></a></td>
									<td class="text-center"><a class="glyphicon glyphicon-trash" href="#"></a></td>
								</tr>
								{{/clients}}
							</tbody>
						</table>
					</div>
					<!-- /.table-responsive -->
				</div>
			</div>
			<!--panel-->			
			<ul class="pagination">
				{{#pages}}
				<li><a href="#">{{numPage}};</a></li>
				{{/pages}}
	
			</ul>
		</div>
	</div>
</body>
</html>