<html>
<head>
<title>Clientes</title>
</head>
<body>
	<div class="navbar ">
		<div class="row">
			<div class="col-lg-2">
				<div class="btn-group">
					<button type="button"
						class="btn btn-primary navbar-btn dropdown-toggle"
						data-toggle="dropdown">
						Clientes <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">Crear</a></li>
						<li><a href="#">Modificar</a></li>
						<li><a href="#">Eliminar</a></li>
						<li class="divider"></li>
						<li><a href="#">Otros</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

  <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
          	{{#clients}}
            <tr>
              <td>{{id}}</td>
              <td>{{name}}</td>
            </tr>
            {{/clients}}
          </tbody>
        </table>
      </div><!-- /.table-responsive -->
      
	
	{{#items}}
	Name: {{name}}<br>
	Price: {{price}}<br>
	  {{#features}}
	  Feature: {{description}}<br>
	  {{/features}}<br>
	{{/items}}
</body>
</html>