<html>
<head>
<title>Home</title>
</head>
<body>
	<!-- Cabecera-->
	<div class="jumbotron">
		<h2>REPARACIONES</h2>
		<p>Bienenido al sistema del tio del palpa</p>
	</div>
	<!-- Login-->
	<div class="row">
		<div class="well col-md-4 col-md-offset-4">
			<form action="clients/" method="post">
				<fieldset>
					<legend>SignIn</legend>
					<div class="form-group">
						<label for="exampleInputEmail">Usuario</label> <input type="text"
							class="form-control" placeholder="Usuario">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword">Password</label> <input
							type="password" class="form-control" placeholder="Password">
					</div>

					<button type="submit" class="btn btn-primary btn-block">Submit</button>
				</fieldset>
			</form>
		</div>
	</div>
	<!-- /.row -->
</body>
</html>